$mainColor: #ffb700 !default;

$accentColor: #ffb700 !default;
$accentColorSVG: brightness(0) saturate(100%) invert(45%) sepia(29%) saturate(2962%) hue-rotate(173deg) brightness(107%) contrast(103%);

$bgThemeColor: #141414 !default;
$bgThemeColorRGB: rgb(20, 20, 20) !default;

$navbarHeight: 4rem !default;