$mainColor: #1979ff !default;

$accentColor: #00aeff !default;
$accentColorSVG: brightness(0) saturate(100%) invert(45%) sepia(29%) saturate(2962%) hue-rotate(173deg) brightness(107%) contrast(103%);

$bgThemeColor: #232540 !default;
$bgThemeColorRGB: rgb(35, 37, 64) !default;

$navbarHeight: 4rem !default;